*   {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width:  50%;

    background-color: lightslategrey;
    border-radius: 40px;

}


.ui-container {
    background-color: rgba(227, 221, 213, 0.8);
    height: 75%;
    width: 800px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    
}

.choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}

ul li {
    list-style: none;
}

.button {
    padding: 1.6em;
    margin: 0.8em;
    width: 140px;
    background-color: beige;

    font-size: 1.3rem;
    font-weight: 500;
    font-family: Helvetica;
    text-align: center;
}

.result-container {
    background-color: rgba(0, 0, 0, 0.697);
    height: 400px;
    width: auto;

    margin-bottom: 6rem;
}